{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url(' {{url_for('static',filename='assets/img/home-bg.jpg')}}')"> 
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1> Admin panel</h1>
                            <span class="subheading">Manege your posts and chaneg them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

<h1> Basic Action</h1>
<a href="/edit/0"><button class="btn btn-primary">  Add new posts </button></a>
<a href="/Logout"><button class="btn btn-primary">  Logout </button></a>
<hr> 


<h1> Add/ Edit posts</h1>
<form id="edit" action="/edit/{{post. sno}}" method="post" data-sb-form-api-token="API_TOKEN">
                                <div class="form-floating">
                                    <input class="form-control" id="Title" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" value="{{post.title}}" />
                                    <label for="name">Title  </label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">New title.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" name="Tagline" id="Tagline" type="text" placeholder="Enter your email..." data-sb-validations="required,email" value="{{post.tagline}}" />
                                    <label >Tagline</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">enter new tag line.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">nothing.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" name="Slug" id="Slug"  type="text" placeholder="Enter your phone number..." data-sb-validations="required" value="{{post.slug}}" />
                                    <label for="phone">Slug</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="Contant" id="contant" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"  >"{{post.content}}"</textarea>
                                    <label >Contant</label>
                                    <div class="form-floating">
                                    <input class="form-control" name="img_file" id="img_file"  type="text" placeholder="Enter your phone number..." data-sb-validations="required" value="{{post.img_file}}" />
                                    <label >Image file</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                </div>
                                <br />
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
            </div>
          </form>
                   
    
{% endblock %}